<navbar></navbar>

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel">
            <div class="panel-body">
                <!-- repeat for each centralink -->
                <div class="panel panel-default" ng-repeat="msg in centralinks | orderBy: 'status':reverse " ng-click="expandPost(msg._id)">
                    <div class="panel-body">
                        <div class="col-md-1">
                            <div class="block pull-right" ng-class="getClassFromStatus(msg.status)">
                                <i ng-class="msg.status| statusIcon"></i>&nbsp;&nbsp;{{msg.status | status}}
                            </div>
                        </div>

                        <div class="col-md-8" ng-hide="editData._id==msg._id">
                            <div><b>{{msg.title | uppercase}}</b></div>
                            <div class="subdate">Auteur: {{msg.author}} | Date d'envoi: {{msg.date | date}}</div>
                            <div>
                                <p class="justify">
                                    <span ng-bind-html="msg.content | summary:msg.expand | linky | formatText"></span>
                                </p>
                            </div>
                        </div>
                        <button-bar-admin></button-bar-admin>
                    </div>
                </div>
                <!-- end repeat -->
                <confirmation-panel></confirmation-panel>
            </div>
        </div>
    </div>
</div>