<form>
<edit-form ng-show="editData._id==msg._id"></edit-form>
<div ng-hide="editData.title==msg._id">
    <button class="btn btn-info pull-right"
            ng-show="msg.status!='sent' && !editMode"
            ng-click="setEditMode(true,msg._id)"><i class="fui-new"></i></button>
</div>

<div ng-show="editData._id==msg._id">
    <button class="btn btn-warning pull-right"
            type="button"
            ng-click="setEditMode(false)"><i class="fui-cross"></i></button>
    <button class="btn btn-success pull-right spaced"
            ng-show="editMode"
            form-validator
            fire="save()"><i class="fui-check"></i></button>
    <button class="btn btn-danger pull-right spaced"
            ng-hide="msg.status!='waiting'"
            ng-click="trash()"><i class="fui-trash"></i></button>
</div>
</form>