<edit-form ng-show="editData.id==msg.id"></edit-form>
<div ng-hide="editData.title==msg.id">
    <button class="btn btn-info pull-right"
            ng-show="msg.status!='sent' && !editMode"
            ng-click="setEditMode(true,$index)"><i class="fui-new"></i></button>
</div>

<div ng-show="editData.id==msg.id">
    <button class="btn btn-warning pull-right spaced"
            ng-click="setEditMode(false)"><i class="fui-cross"></i></button>
    <button class="btn btn-success pull-right spaced"
            ng-show="editMode"
            ng-click="save()"><i class="fui-check"></i></button>
    <button class="btn btn-danger pull-right spaced"
            ng-click="trash()"><i class="fui-trash"></i></button>
</div>