<navbar></navbar>

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel">
            <div class="panel-body">

                <div class="panel panel-primary palette palette-peter-river new-message" ng-hide="editMode" ng-click="newMessage()">
                    <div class="panel-body">
                        <p>Nouveau message</p>
                    </div>
                </div>
                <!-- repeat for each centralink -->
                <div class="panel panel-default" ng-repeat="msg in centralinks | filter: {author:$root.login} | orderBy: keepNewOnTop:reverse" ng-click="expandPost(msg._id)">
                    <div class="panel-body">
                        <div class="col-md-1">
                            <div class="block pull-right" ng-class="getClassFromStatus(msg.status)">
                                <i ng-class="msg.status| statusIcon"></i>&nbsp;&nbsp;{{msg.status | status}}
                            </div>
                        </div>

                        <div class="col-md-8" ng-hide="editData._id==msg._id">
                            <div><b>{{msg.title | uppercase}}</b></div>
                            <div class="subdate">Date d'envoi: {{msg.date | date:'dd-MM-yyyy'}}</div>
                            <div>
                                <p class="justify">
                                    <span ng-bind-html="msg.content | summary | linky | formatText"></span>
                                    <span ng-hide="msg.expand"><br>...</span>
                                    <span ng-show="msg.expand" ng-bind-html="msg.content | xtend | linky | formatText"></span>
                                </p>
                            </div>
                        </div>
                        <button-bar></button-bar>
                    </div>
                </div>
                <!-- end repeat -->

                <confirmation-panel></confirmation-panel>


            </div>
        </div>
    </div>
</div>