<navbar></navbar>

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel">
            <div class="panel-body">
                <!-- repeat for each centralink -->
                <div class="panel panel-default" ng-repeat="msg in centralinks" ng-click="expandPost($index)">
                    <div class="panel-body">
                        <div class="col-md-1">
                            <div class="block pull-right" ng-class="getClassFromStatus(msg.status)">
                                <i ng-class="msg.status| statusIcon"></i>&nbsp;&nbsp;{{msg.status | status}}
                            </div>
                        </div>

                        <div class="col-md-8" ng-hide="editData.id==msg.id">
                            <div><b>{{msg.title | uppercase}}</b></div>
                            <div class="subdate">Créé le {{msg.date | date}}</div>
                            <div>
                                <p class="justify">
                                    {{msg.body | summary}}<span ng-hide="msg.expand">...</span><span ng-show="msg.expand">{{msg.body | xtend}}</span>
                                </p>
                            </div>
                        </div>
                        <button-bar></button-bar>
                    </div>
                </div>
                <!-- end repeat -->

                <confirmation-panel ng-show="confirmationMsg!=''"></confirmation-panel>


            </div>
        </div>
    </div>
</div>