<div class="overlay"></div>
<div class="panel panel-default confirmation-panel">
        <div class="panel-heading">Confirmation requise</div>

        <div class="panel-body">
                <p>{{confirmationMsg}}</p>
        </div>
        <div class="pull-down-container">
                <button class="btn btn-default pull-right" ng-click="confirmationMsg[0].action">{{confirmationButtons[0].text}}</button>
                <button class="btn btn-danger pull-right" ng-click="confirmationMsg[1].action">{{confirmationButtons[1].text}}</button>
        </div>





</div>