<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header"  >
        <a class="navbar-brand" href="#">
            Centralink
            <div class="version">{{$root.version}}</div>
        </a>
        <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active" ng-hide="true"><a ui-sref="notifications" >Notifications&nbsp;&nbsp;&nbsp;<span class="navbar-new">5</span></a></li>
            <li ui-sref-active="active"><a ui-sref="centralinks">Centralinks</a></li>
            <li ui-sref-active="active" ng-show="$root.permissions"><a ui-sref="administration">Administration</a></li>
        </ul>
        <div class="navbar-right" ng-controller="AuthController">
            <a class="btn btn-primary disconnect" ng-click="signout()">Se déconnecter</a>
            <span class="account">{{$root.account.fn}} {{$root.account.ln}}</span>
        </div>
    </div>
</nav>