<navbar></navbar>




<div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel">
                <div class="panel-body">

                    <!-- repeat for each notification -->
                    <div class="panel panel-default" ng-click="expand()">
                        <div class="panel-body">
                            <div class="col-md-1">
                                <span class="block palette palette-emerald pull-right">1jour+</span>
                            </div>
                            <div class="col-md-8">
                                Votre centralink <b><a href="#">Titre de message de test</a></b> a été validé.
                            </div>
                            <button class="btn btn-info pull-right">Voir le message</button>
                        </div>
                    </div>

                    <!-- end repeat -->

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-1">
                                <span class="block palette palette-belize-hole pull-right">10min</span>
                            </div>
                            <div class="col-md-8">
                            Votre centralink <b>Titre de message de test</b> a été mis en attente.
                                </div>
                            <button class="btn btn-info pull-right">Editer le message</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Brand and toggle get grouped for better mobile display -->

<!-- <span class="palette palette-emerald">validé</span> -->
    <!-- Collect the nav links, forms, and other content for toggling -->
