<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Centralinks</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-3">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" >Notifications&nbsp;&nbsp;&nbsp;<span class="navbar-new">5</span></a></li>
            <li><a href="#">Centralinks</a></li>
            <li ><a href="#">Administration</a></li>
        </ul>
        <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="navbarInput-02" type="search" placeholder="Rechercher">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
                </div>
            </div>
        </form>
    </div>
</nav>




<div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-body">

                    <!-- repeat for each notification -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-1">
                                <p class="palette palette-emerald pull-left">1jour+</p>
                            </div>
                            <div class="col-md-8">
                                Votre centralink <b><a href="#">Titre de message de test</a></b> a été validé.
                            </div>
                            <button class="btn btn-info pull-right">Voir le message</button>
                        </div>
                    </div>

                    <!-- end repeat -->

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-1">
                                <p class="palette palette-belize-hole pull-left">10min</p>
                            </div>
                            <div class="col-md-8">
                            Votre centralink <b>"Titre de message de test"</b> a été mis en attente.
                                </div>
                            <button class="btn btn-info pull-right">Editer le message</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Brand and toggle get grouped for better mobile display -->

<!-- <span class="palette palette-emerald">validé</span> -->
    <!-- Collect the nav links, forms, and other content for toggling -->
