$peter-river:#3498db;
$belize-hole:#2980b9;

.subdate {
  color: #BDC3C7;
  padding-top: -0.5em;
  margin-top: -0.5em;
  font-size: 0.8em;
}

.justify {
  text-align: justify;
}

.version {
  font-size:10px;
  text-align:right;
  color: $peter-river;
}

.account {
  font-size: 15px;
  margin-top:14px;
  margin-right:5px;
  display:block;
  float:right;
  color: $belize-hole;
  font-weight: bold;
  pointer-events: none;
}

.block {
  width: 120px;
  opacity:0.8;
}

.spaced {
  margin-right: 4px;
}

.disconnect {
  margin-top:5px;
  float:right;
}

.overlay {
  position:fixed;
  top: 0;
  left:0;
  z-index:50;
  background-color: rgba(#3498db,0.7);
  width: 100vw;
  height: 100vh;
}

.confirmation-panel {
  position:absolute;
  width: 25vw;
  min-width:250px;
  height: auto;
  left: 30%;
  top: 20vh;
  z-index:51;
  .panel-body {
    min-height: 100px;
  }
}

.pull-down-container {
  position:relative;
  width:100%;
  .btn-cancel {
    float:left;
    margin-left:10px;
    width: 25%;
    min-width:100px;
    margin-bottom: 5px;
  }
  .btn-confirm {
    float:left;
    margin-left: 12%;
    width: 40%;
  }
}

.resetpassword {
  text-align:center;
  width:100%;
  //float: right;
  a {
    font-size:0.9em;
    &:hover {
      text-decoration:underline;
    }
  }
  display:inline-block;
}

.bottom_aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}

.new-message {
  text-align:center;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  cursor:pointer;
  height:100px;
  p {
    font-size:20px;
  }
}


.new-message:not(:hover) {
  background-color:lighten(#3498db,20%);
  opacity:0.3;
  text-align:center;
  p {
    color: #34495E;
  }
}

// Overrides:

.btn.btn-primary.active {
  background:darken($peter-river,20);
}


// Styles relative to auth page

@import 'partials/auth';
@import 'partials/datepicker';
